<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<!--Bootstrap-->
	<link href="./css/bootstrap.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="jumbotron">
		<div class="container ">
			<h1>DHT-11 on Raspberry Pi</h1>
		</div>
	</div>
	<div class="container">
        <a href="/WinstonQuery">WinstonQuery</a>
	  <div id="chartContainer" style="height: 300px; width:100%;"></div>
	</div>
	<script src="/js/canvasjs.min.js"></script>
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
